:root {
  --v-dark-blue: #002347;
  --dark-blue: #0077b6;
  --med-blue: #00b4d8;
  --light-blue: #90e0ef;
  --v-light-blue: #caf0f8;
}
.app {
}
input {
  border: 0;
}
button {
  border: 0;
}

h1 {
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.dark {
  color: #002347;
}

.row {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 5vh 0 5vh 0;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #ebfbff;
}
.selection-col {
  margin: 0vh 2vh 2vh 2vh;
  padding: 2vh;

  border-radius: 10px;
  box-shadow: 0 0 1px 1px var(--v-dark-blue);
  position: relative;

  flex: 1;
  text-align: center;

  display: flex;
  flex-direction: column;

  background-color: var(--v-dark-blue);
}

.results-col {
  flex: 2;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.col {
  flex: 1;
  text-align: center;
}

.page-changer {
  width: 20vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.page-button {
  color: var(--v-dark-blue);

  border-radius: 5px;

  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
